{% import "app/_modules/_rating.html" as rating %} 
{% set title="Теплицы35 - Главная страница" %}
{% include "app/_modules/_header.html" %}
    <main>
      {% include "app/_modules/_slider_top.html" %}
      <!-- КАТАЛОГ НАШЕЙ ПРОДУКЦИИ -->
      <section class="catalog">
        <div class="catalog__line"></div>
        <div class="container">
          <h2 class="section-title"><span>Каталог нашей продукции</span></h2>
          <div class="row row-cols-2 row-cols-lg-4 catalog__block block">
            {% set CATALOG=['Теплицы','Парники','Грядки','Клумбы','Поликарбонат','Беседки','Душевые кабины','Штакетник'] %}
            {% for item in CATALOG %}
              <div class="col d-flex flex-column justify-content-end">
                <div class="block__item item">
                  <h4 class="item__title">{{ item }}</h4>
                  <div class="item__image">
                    <img data-fancybox class="img-fluid" loading="lazy" src="img/catalog/{{loop.index}}.jpg" alt="">
                  </div>
                  <div class="item__btn"><button type="button" class="btn btn-green">Подробнее</button></div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
<!-- ВЫБОР ПОКУПАТЕЛЕЙ -->
      </section>
      <section class="choice-customer">
        <div class="container">
          <h2 class="section-title"><span class="title_green">Выбор </span><span class="title_white">покупателей</span>
          </h2>
          <div class="row row-cols-2 row-cols-lg-4  gy-4 choice-customer_block block">
            {% set CHOICE_CUSTOMER=[ ['“Крепость”\nтеплица из поликарбоната','1',5,23,17,'-10%'],
                                  ['“бабочка”\nпарник из поликарбоната','2',5,56,19,false],
                                  ['“капелька”\nтеплица 3 метра','3',4,177,16,'ХИТ'],
                                  ['комплект грядок\nв теплицу','4',3,44,23,false]  ]
             %}
             {% for item in CHOICE_CUSTOMER %}
              <div class="col d-flex flex-column justify-content-end">
                <div class="block__item item">
                  <h4 class="item__title">{{item[0]  | escape | nl2br}}</h4>
                  <div class="item__image">
                    <div class="item__image__flag {% if item[5] %}active{% endif %}">{{item[5]}}</div>
                    <img class="img-fluid" loading="lazy" src="img/catalog/{{item[1]}}.jpg" alt="">
                  </div>
                 {{ rating.show(item[2]) }} 
                  <div class="d-flex justify-content-center rating_comment">
                    <div class="hand-img">
                      <svg class="hand_svg svg-fill" role="img" aria-label="Tools">
                        <use xlink:href="bootstrap-icons.svg#hand-thumbs-up" />
                      </svg>
                    </div>
                    <div class="count-hand">{{item[3]}}</div>
                    <div class="comment-img">
                      <svg class="comment_svg svg-fill" role="img" aria-label="Tools">
                        <use xlink:href="bootstrap-icons.svg#chat-left" />
                      </svg>
                    </div>
                    <div class="count-comment">{{item[4]}}</div>
                  </div>
                  <div class="item__btn"><button type="button" class="btn btn-white">В корзину</button></div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
<!-- ПРЕИМУЩЕСТВА РАБОТЫ С НАМИ -->
      <section class="work-with-us">
        <div class="container">
          <h2 class="section-title"><span class="title_green">Преимущества </span><span>работы с нами</span></h2>
          <div class="row row-cols-2 row-cols-lg-3 table-work work">
            {% set WORKUS=[   ['Высочайшее качество','1'],
                              ['Цены завода изготовителя','2'],
                              ['Гарантия','3'],
                              ['Собственное производство','4'],
                              ['Наличие на складе','5'],
                              ['Сервисная поддержка 24/7','6']  ] 
            %}
            {% for item in WORKUS %}
                <div class="col work__item item">
                  <div class="row flex-nowrap align-items-center justify-content-evently">
                    <div class="col-3 item__img">
                      <img class="img-fluid" loading="lazy" src="img/workus/{{item[1]}}.png" alt="">
                    </div>
                    <div class="col item__text">{{item[0] | escape}}</div>
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>
      </section>
<!-- ОТЗЫВЫ НАШИХ КЛИЕНТОВ -->
      <section class="reviews">
        <div class="container">
          <h2 class="section-title"><span class="title_green">Отзывы наших </span><span>клиентов</span></h2>
          <div class="row row-cols-2 row-cols-lg-4 justify-content-center reviews__block g-2 g-sm-3 g-lg-4 g-xxl-5">
            {% set REVIEWS=[  ['Мария Смирнова','г.Москва',1,5],
                              ['Валя Кутепова','г.Улан-Уде',2,4],
                              ['Геннадий Петрович','г.Париж',3,5],
                              ['Иннокентий Смоктуновсий','г.Вологда',4,3]  ] 
            %}
            {% for item in REVIEWS %}
              <div class="col">
                <div class="card  block__item item">
                  
                  <div class="mx-auto item__image">
                    <div class="image-wrap">
                      <img class="card-img  " loading="lazy" src="img/reviews/{{item[2]}}.jpg" alt="">
                    </div>
                  </div>
                  <div class="card-body item__content">
                    {{ rating.show(item[3]) }} 
                    <div class="card-text item__name">{{item[0]}}</div>
                    <div class="card-text item__city">{{item[1]}}</div>
                    <div class="card-text item__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa quos quae
                      suscipit cupiditate, veniam obcaecati pariatur distinctio excepturi error! Veniam assumenda
                      reiciendis ratione quae, quod similique, aliquam natus nemo optio vel animi vitae tempore, delectus
                      laboriosam dolor odit! Atque, suscipit?</div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
  </div>
  </section>
  {% include "app/_modules/_promotion.html" %}
<!-- РЕАЛИЗОВАННЫЕ ПРОЕКТЫ -->
  <section class="projects">
    <div class="container">
      <h2 class="section-title"><span class="title_green">Реализованные </span><span>проекты</span></h2>
      <div class="row row-cols-2 row-cols-lg-4 justify-content-center g-1 g-md-2 g-lg-3gulp projects__block">
        {% for i in range(1, 13) -%}
          <div class="col block__item">
            <a href=""><img loading="lazy" src="img/{{i}}.jpg" alt=""></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
<!-- ОБРАТНАЯ СВЯЗЬ -->
  <section class="feedback-form">
    <div class="container">
      <div class="row justify-content-center">
        <h2>Остались вопросы?</h2>
        <h3>Оставьте заявку на консультацию со специалистом.</h3>
        <div class="col">
          <form class="needs-validation" novalidate>
            <div class="row row-cols-1 row-cols-lg-3 g-3">
              <div class="col">
                <div class="form-floating ">
                  <input type="text" class="form-control" id="floatingName" placeholder="Василий Пупкин" value=""
                    required>
                  <label for="floatingName">Введите ваше имя</label>
                  <div class="invalid-feedback">Пожалуйста, введите имя.</div>
                </div>
              </div>
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatinPhone" placeholder="7912345678" value="" required>
                  <label for="floatinPhone">Введите ваш телефон</label>
                  <div class="invalid-feedback">Пожалуйста, введите телефон.</div>
                </div>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-red">Получить консультацию</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>
<!-- ПОЛЕЗНЫЕ СТАТЬИ -->
  <section class="useful-articles">
    <div class="container-lg">
      <h2 class="section-title py-4"><span class="title_green">Полезные </span><span>статьи</span></h2>
      <div class="row row-cols-2 row-cols-lg-3 justify-content-center g-2 g-lg-4 useful-articles__block">
        {% for i in range(0, 6) -%}
        <div class="col block__item">
          <div class="d-flex item">
            <div class="flex-shrink-0 item__image">
              <img loading="lazy" src="img/2.jpg" alt="">
            </div>
            <div class="d-flex flex-column justify-content-between ps-1 ps-lg-4 item__content">
              <div class="item__text">Каркас для теплицы. Какой выбрать?<br>Оцинкованный профиль против металлических
                труб.</div>
              <div class="item__link"><a class="stretched-link" href="">читать статью</a></div>
            </div>

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  
  {% include "app/_modules/_quality.html" %}
  </main>
  {% include "app/_modules/_footer.html" %}

  