{% import "app/_modules/_rating.html" as rating %} 
{% set title="Теплицы35 - Главная страница" %}
{% include "app/_modules/_header.html" %}
  <main>
    {% include "app/_modules/_slider_top.html" %}
    {% include "app/_modules/_catalog.html" %}
    {% include "app/_modules/_choice-customer.html" %}
    {% include "app/_modules/_reviews.html" %}
    {% include "app/_modules/_promotion.html" %}
    {% include "app/_modules/_projects.html" %}
    {% include "app/_modules/_feedback.html" %}
    {% include "app/_modules/_useful-articles.html" %}
    {% include "app/_modules/_quality.html" %}
  </main>
  {% include "app/_modules/_footer.html" %}

  